/* body {
  background-image: url(https://images.pexels.com/photos/2686558/pexels-photo-2686558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

body {
  color: white;
  user-select: none;
}

#welcome {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
